/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
    background: #95949B;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
    font-family: "Jura", serif;
    
    font-style: initial;
    color: #F5F5F5;
    
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	
}


#container {
	
  border:0px solid black;
    width: 1000 px;
    margin: auto;
    position:relative;
    text-align: center;
    height: 600px;
    top:350px;
        
}

h1 {
    
 letter-spacing: 8px;
  
 
}

h2 {
  
    font-family: helvetica;
    font-size: 10px;
    letter-spacing: 5px;
    font-weight:900px;
}

/*rotate image css*/
.logodraft{
    width: 650px;
    height: 550px;
    text-align: center;
    margin: -40px 0 0 -20px;
    -webkit-transition: -webkit-transform 1s;
}

.logodraft:hover{
    -webkit-transform: rotate(360deg) translateZ(0);
}

#home .logo{
    width: 500px;
    height: 400px;
    text-align:center;
    display:block;
    margin: 0 auto;
    top: 300px;
    position: relative;
    right: -10px;}

#home ul {
    font-family:Jura, serif;
    letter-spacing: 10px;
    font-size: 20px;
    color: #F5F5F5;
}


nav a:hover {
    background:#95949B;
}

nav a {
    color: #F5F5F5;
    text-decoration:none;
    background: #040a34;
    opacity: 65%;
    padding:20px;
    margin:6px;
    display:inline-block;
    width: 400px;
    text-align:center;
    border-radius:80px;
    
}
ul{
    list-style:none;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



