/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	background: #95949B;
    box-sizing: border-box;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    font-family: "Jura", serif;
    font-style: initial;
    color: #F5F5F5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#F5F5F5;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */
@media (max-width: 650px) {


.header{
    background-color: #040a34;
    opacity:65%;
}
  
    
    .header_content {
    flex-direction:column;
    align-items: center;
    padding: 25px 0;
    display:flex;
    justify-content: space-between;
    min-height:6px;
    max-width:120px;
    margin: 0 auto;
    padding: 15px 0 ;
    font-family: Helvetica;
    font-weight: 300px;
    
}
}
.logodraft{
   
}

.logodraft img{
  width: 80px;
  height: 70px;
  display: block;
    
}
 

.founder{
   width:450px;
   height:550px;
   display:block;
   padding: 25px;
   margin: auto;
   opacity:65%;
    margin-top: 130px;
    border-radius: 2000px;
    filter:grayscale(50%);
    
    
}


.nav{
    
    
}

.nav__list{
display: flex; 
column-gap: 30px;

    
}

.nav__item{

    
}


.nav__link{
    color:#F5F5F5;
    opacity: 40%;
    font-size: 10px;
    transition: all 0.4s;
}
.nav__link:hover{
    color:#F5F5F5;
    opacity: 100%;
}


h1{
    border:0px solid black;
    width: 1000 px;
    margin: auto;
    position:relative;
    text-align: center;
    height: 600px;
    bottom:800px;
    letter-spacing: 10px;
    font-size: 18px;
    top:20px;
        } 
p{
    line-height: 40px;
    text-align:justify;
    width: 500px;
    position:relative;
    margin:auto;
    font-size: 12px;
    top: -550px;
    font-weight: 100;


/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	body{
        
    }
    
    #container {
        width: 722px;
        margin: auto;
    }
	
    .header{
    background-color: #040a34;
    opacity:65%;
}

.header_content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-height:60px;
    max-width:1200px;
    margin: 0 auto;
    padding: 0 30px;
    font-family: Helvetica;
    font-weight: 300px;
}

.logodraft{
   
}

.logodraft img{
  width: 200px;
  height:150px;
  display: block;
    
}
    



} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
} /* closes 1024px+ */



